body {background-color: #F5EBC1;
color: #8B7A65;}

button, button:hover {background-color: #da8f4d;
  border: 3px solid #682424;
  color: #440f0f;
  padding: 15px 25px;
  border-radius: 4px;
   }
  
   button:active {margin-top: 2px;
    border: 3px solid #682424;}

ul {list-style: none;}

.App {
  text-align: center;
}

.buttons {white-space: nowrap;
display: inline;}


.fishImage {border: 1px solid #d1cca6;
}

.fishInfoDisplayed {line-height: 0px;
opacity: 0%;}

.fishInfoDisplayed2 {line-height: normal;
  opacity: 100%;}

.fishPicture {            max-width: 98px;
max-height: 98px;}

.fishPicture2 {      filter: contrast(0%) brightness(105%)  grayscale(80%);
  max-width: 98px;
  max-height: 98px;}
  

.Header {box-shadow: 0px 2px 3px #d8cfa1;}

.horizontalRow {display: flex;
flex-direction: row;
margin-top: 100px;}

.left {float: left;}

.Northern {  position: absolute;
  left: 670px;
top: 140px;}

.Southern {  position: absolute;
right: 680px;
top: 140px;}