:root{
    --border: #702b2b;
    --background-color: #F5EBC1;
    --text: #8B7A65;
    --shadow: #dbd1a9;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: inherit;
  }
  
  *::-webkit-scrollbar-thumb {
      background-color: var(--border);
      border-radius: 20px;
      border: 1px solid rgb(40, 10, 0);
  }

  
body {
    background-color: var(--background-color);
}

.grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(16, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  width: 80%;
}

.sea-critter-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: column;

  grid-template-rows: repeat(5, 1fr);
  width: 50%;
  margin: 0 auto;
}

a {
  color: var(--border);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #31020f;
  text-decoration: none;
}


.critterpedia  {
  color: var(--text);
  font-weight: bold;
  font-family: 'Short Stack', cursive;
  text-align: center;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; 
  position: relative;
}

button:active { 
  position: relative;
  top: 2px;
}

button:hover {
  background-color: #f0b786;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection{
  background-color:#74573c;
  color: #ffff;
}


.btn, .btn-secondary:not(:disabled):not(.disabled), input.btn-check:checked+.btn, .btn.show {
  background-color: #da8f4d;
  border: 2px solid var(--border);
  color: #440f0f;
  border-radius: 3px;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Short Stack', cursive;
}

.btn:hover, input.btn-check+.btn:hover{
    background-color: #eab486;
    color: #440f0f;

    border-color: var(--border)
}

.critter-info {
  border: 1px solid #d1cca6;
  z-index: 2;
}

div.critter-info .critter-icon {
    background-color: transparent;
    border: none;
}

div.critter-info .critter-icon:hover, div.critter-info .critter-icon.active {
    background-color: #f3eedc;
}

.critter-info img {
  width: 100%;
  height: 100%;
}

.fishPicture, .fishPicture2 {
  cursor: pointer;
  user-select: none;
}

.fishPicture2 { 
  filter: contrast(0%) brightness(140%)  grayscale(80%);
}


/*Mobile Sized*/
@media only screen and (max-width: 800px){
    .fishPicture, .fishPicture2 {
      width: 57px!important;
      height: 57px!important;
    }

    .grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(12, 1fr);
        width: 98%;

    }
    
    .sea-critter-grid {
      grid-template-columns: repeat(6, 1fr);
      width: 98%;
    }
    

}

@media only screen and (max-width: 505px){
    .sea-critter-grid {
        grid-template-columns: repeat(5, 1fr);

        grid-template-rows: repeat(8, 1fr);
      }
}

@media only screen and (max-width: 415px){
    .grid {
        grid-template-rows: repeat(16, 1fr);
        width: 84%;

    }

    .sea-critter-grid {
        grid-template-columns: repeat(4, 1fr);

        grid-template-rows: repeat(10, 1fr);
      }

}